<main>
    <h1>KAWA MANGA</h1>
    <section>
        <div>
            <img src="/assets/images/black-clover.png"><span>Black Clover</span>
        </div>
        <div>
            <img src="/assets/images/my-hero-academia.jpg"><span>My Hero Academia</span>
        </div>
        <div>
            <img src="/assets/images/fire-force.jpg"><span>Fire Force</span>
        </div>
        <div>
            <img src="/assets/images/solo-leveling.jpg"><span>Solo Leveling</span>
        </div>
        <div>
            <img src="/assets/images/dragon-ball.jpg"><span>Dragon Ball Super</span>
        </div>
        <div>
            <img src="/assets/images/demon-slayer.png"><span>Demon Slayer</span>
        </div>
        <div>
            <img src="/assets/images/tokyo-ghoul.jpg"><span>Tokyo Ghoul</span>
        </div>
        <div>
            <img src="/assets/images/full-metal.jpg"><span>Full Metal</span>
        </div>
        <div>
            <img src="/assets/images/one-punch.jpg"><span>One Punch</span>
        </div>
        <div>
            <img src="/assets/images/one-piece.jpg"><span>One Piece</span>
        </div>
        <div>
            <img src="/assets/images/snk.jpg"><span>Shingeki no Kyojin</span>
        </div>
        <div>
            <img src="/assets/images/jujutsu-kaisen.jpg"><span>Jujustu Kaisen</span>
        </div>
        <div>
            <img src="/assets/images/naruto.png"><span> Naruto</span>
        </div>
        <div>
            <img src="/assets/images/seven.jpg"><span>Seven deadly sins</span>
        </div>

    </section>
</main>